---
---

@import "{{ site.theme }}";

@media (max-width: 768px) {
    .align_center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  .center-title {
    text-align: center;
  }